.image11{
    width:600px;
    height:700px;
}
.contact{
   text-align: center;
   color: rgb(249, 249, 249);
  margin-left: 19rem;
  margin-bottom: 20px;
}
.btn
{
    margin-left: 140px;
}
.fm{
    margin-top: 80px;
    margin-left: 200px;
    margin-right: -70px;
}